<html>

<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="search.css">
    <title>Sign in</title>
</head>

<body>

<div class="form-group">
    <div class="container">
        <div class="form-group">

            <div class="row" id="cover">
                <form method="get" action="">
                    <div class="tb">
                        <div class="td">
                            <input type="text" placeholder="Search" required/>
                        </div>
                        <div class="td" id="s-cover">
                            <button type="submit">
                                <div id="s-circle"/>
                                <span></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row float-right">

                    <a href="#"
                    class="pr-5">Sign In</a>

                    <a href="#"
                       class="">Sign Up</a>
            </div>
        </div>
    </div>
</div>
</body>

</html>